$yellow:#FDC504;
$green:#009132;
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    transition: 0.3s;  
    .headerdiv{
        justify-content: space-between;
    }  
    h1{
        width: 0;
        img{
            transition: .3s;
            height: 2.5rem;
            display: block;
        }
    }
    .gnb{       
        display: flex; 
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            transition: .3s;height: 0px; 
        }
        .gnbli{  
            text-align: center;
            padding: 1.25rem 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            a{font-size: 1.125rem;font-weight: 600;}          
            .gnbul{      
                position: absolute;
                top: 100%;  
                max-height: 0;
                overflow: hidden;     
                transition: .3s;
                .gnbulli{
                    padding: 0.312rem 0;
                    a{
                        font-size:1rem; font-weight: 300;
                    }
                }
            }               
        }                           
    }
    .iconmenu{
        display: flex;
        width: 0;
        .iconli{
            font-size: 1rem;
            &.loginli{
                font-size: 1.3rem;
            }
        }
    }
                    
}
.mainbanner{
    .mainslide{
        .mainslidewrap{  
            display: flex;          
            align-items: center;
            &.mainslidewrap1{                    
                ::before{
                    width: 100%;
                    height: calc(100% - 20vh);
                    background-position: top right 7vw;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                }
            }
            &.mainslidewrap2{
                ::before{
                    // width: 922px;
                    // height: 556px;
                    right: 0;
                    bottom: 0;
                }
                ::after{
                    content: "";
                    background: url(../svg/sandwichartist.svg) no-repeat;
                    position: absolute;
                    // width: 912px;
                    // height: 1300px;
                    right: 0;
                    bottom: 3rem;
                }
            }
            &.mainslidewrap3{
                ::before{
                    // width: 1084px;
                    // height: 1033px;
                    right: -5rem;
                    bottom: 0;
                }
            }
        }
    }
    .swiper-pagination-bullet{
        background: #fff;
        opacity: 1;
    } 
    .swiper-pagination-bullet-active{        
        background: $yellow;
    }
}
@media (min-width:768px) {
    header{
        &.headeron{
            background-color: $green;
            a{color: #fff;}
            i{color: #fff;}
        }
        .m-menu-btn{
            display: none;            
        } 
        .m-li{display: none;}  
        .gnb{       
            &:hover{
                &::before{
                    height: 250px;   
                    background-color: $green;             
                }  
                .gnbli{  
                    &:hover{
                        >a{
                            color: $yellow;
                        }   
                    }     
                    .gnbul{       
                        max-height: 250px;  
                        padding: 1rem 0;
                        .gnbulli{
                            padding: 0.312rem 0; 
                            a{
                                &:hover{
                                    border-bottom:1px solid #fff;

                                }
                            }
                        }           
                    }               
                }      
            }                
        }               
    }
}
@media (max-width:1199px){
    header{ 
        h1{
            img{
                height: 1.8rem;
            }
        }         
        .gnb{  
            .gnbli{    
                padding: 1.25rem 1.2rem;              
                a{     
                    font-size: 1rem;               
                }          
                .gnbul{        
                    .gnbulli{
                        a{
                            font-size: 0.88rem; 
                        }
                    }           
                }               
            }                   
        }                
    }
}
@media (max-width:990px){
    header{ 
        h1{
            width: auto;
        }
        .gnb{        
            .gnbli{    
                padding: 1.25rem 1rem;                           
            }                                 
        }
        .iconmenu{
            width: auto;
        }                
    }
}
@media (max-width:767px){
    header{ 
        .headerdiv{
            justify-content: center;
            padding: 0.82rem 0;
        }   
        h1{
            width: auto;
            img{
                height: 1.5rem;
            }
        }
        .m-menu-btn{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            i{
                font-size: 2rem;
                color: #333;
            }
        } 
        .m-menu{
            display: none;
            position: absolute;
            top: 0;
            right: 0;  
            width: 100%;
            height: 100vh;            
            background-color: #fff;
            .m-li{
                &.m-top-menu{
                    background: $green;
                    .m-menu-header{
                        img{
                            height: 1.5rem;
                        }
                        .x-btn{
                            transform: translateX(-44px);
                            button{
                                color: #fff;
                                font-size: 2.5rem;                                                           
                            }
                        }                        
                    }
                    .m-menu-notice{
                        text-align: center;
                        padding: 0.8rem 0;
                        .m-menu-a{
                            padding: .5rem;
                            margin: auto;
                            background-color: #fff;
                            border-radius: 5px;                            
                            span{
                                i{color: $yellow;}
                                span{padding-left: .5rem;}
                            }
                        }
                    }
                }
                &.m-bottom-menu{
                    display: flex;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    .m-li-btn{                        
                        &.m-li-search{
                            background-color: $yellow;
                            button{
                                img{
                                    height: 2.5rem;
                                }
                            }
                        }
                        &.m-li-login{
                            background-color: $green;
                            button{
                                font-size: 2.5rem;
                                color: #fff;
                            }
                        }
                        button{
                            span{
                                font-size: 0.875rem;
                                font-weight: 300;
                            }
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }            
            .gnb{     
                background: #eee; 
                flex-direction: column;   
                height: 100%;
                width: 30%;
                position: relative;
                .gnbli{     
                    &.m-bg-white{
                        background: #fff;
                    }          
                    align-items: start;  
                    text-align: start; 
                    .gnbul{ 
                        &.m-gnbul{
                            display: none;
                        }    
                        display: block;      
                        top: 3rem;   
                        left: 120%;
                        width: 100%;
                        max-height: 500px;
                        .gnbulli{
                            padding:0 0 1rem;
                            a{
                                font-size: 1rem;
                                font-weight: 400;
                            }
                        }   

                    }               
                }               
            }
        }

        .iconmenu{
            display: none;
        }                
    }
}
@media (max-width:575px){
    header{ 
        .m-menu{            
            .gnb{     
                .gnbli{                     
                    padding: 1rem 0.5rem;              
                }                                  
            }
        }               
    }    
}


// @media (max-width:1024px)
// @media (max-width:990px)
// @media (max-width:767px)
// @media (max-width:575px)
// @media (max-width:320px)