$yellow:#FDC504;
$green:#009132;
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    transition: 0.3s;  
    h1{
        img{
            height: 2.5rem;
            display: block;
        }
    }
    .gnb{       
        display: flex; 
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            transition: .3s;height: 0px; 
        }
        .gnbli{  
            text-align: center;
            padding: 1.25rem 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            a{font-size: 1.125rem;font-weight: 600;}          
            .gnbul{      
                position: absolute;
                top: 100%;  
                height: 0;
                max-height: 0;
                overflow: hidden;     
                transition: .3s;
                .gnbulli{
                    padding: 0.312rem 0;
                    a{
                        font-size:1rem; font-weight: 300;
                    }
                }   

            }               
        }                           
    }
    .iconmenu{
        .iconli{
            font-size: 1rem;
            &.loginli{
                font-size: 1.3rem;
            }
            button{

            }
        }
    }                
}
@media (min-width:1200px) {
    header{
        &.headeron{
            background-color: $green;
            a{color: #fff;}
            i{color: #fff;}
        }
        .gnb{       
            &:hover{
                &::before{
                    height: 250px;   
                    background-color: $green;             
                }  
                .gnbli{  
                    &:hover{
                        >a{
                            color: $yellow;
                        }   
                    }     
                    .gnbul{       
                        max-height: 250px;  
                        padding: 1rem 0;
                        .gnbulli{
                            padding: 0.312rem 0; 
                            a{
                                &:hover{
                                    border-bottom:1px solid #fff;

                                }
                            }
                        }           
                    }               
                }      
            }                
        }               
    }
}