$yellow:#FDC504;
$green:#009132;
header{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    transition: 0.3s;  
    .headerdiv{
        justify-content: space-between;
    }  
    h1{
        width: 0;
        img{
            transition: .3s;
            height: 2.5rem;
            display: block;
        }
    }
    .gnb{       
        display: flex; 
        &::before{
            content: "";
            position: absolute;
            width: 100%;
            top: 100%;
            left: 0;
            transition: .3s;height: 0px; 
        }
        .gnbli{  
            text-align: center;
            padding: 1.25rem 1.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;

            a{font-size: 1.125rem;font-weight: 600;}          
            .gnbul{      
                position: absolute;
                top: 100%;  
                max-height: 0;
                overflow: hidden;     
                transition: .3s;
                .gnbulli{
                    padding: 0.312rem 0;
                    a{
                        font-size:1rem; font-weight: 300;
                    }
                }
            }               
        }                           
    }
    .iconmenu{
        display: flex;
        width: 0;
        .iconli{
            font-size: 1rem;
            &.loginli{
                font-size: 1.3rem;
            }
        }
    }
                    
}
.mainbanner{
    .mainslide{
        .mainslidewrap{  
            display: flex;          
            align-items: center;
            &.mainslidewrap1{     
                .mainslidetxtwrap{               
                    &::before{
                        width: 100%;
                        height: calc(100% - 20vh);
                        background-position: top right 7vw;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                    }
                }
            }
            &.mainslidewrap2{                
                .mainslidetxtwrap{
                    &::before{
                        width: 100%;
                        height: calc(100% - 25vh);
                        background-position: top right;
                        bottom: 0;
                        left: 0;
                    }
                    &::after{
                        content: "";
                        width: 100%;
                        height: calc(100% + 25vw);
                        background: url(../svg/sandwichartist.svg) no-repeat;
                        background-position: top right 1vw;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        transition: .3s;
                    }
                }
                
            }
            &.mainslidewrap3{
                .mainslidetxtwrap{
                    &::before{
                        width: 100%;
                        height: calc(100% + 30vw);
                        background-position: top right -5vw;
                        bottom: 0;
                        top: 0;
                        margin: auto;
                        left: 0;
                    }
                }
            }
        }
    }
    .swiper-pagination-bullet{
        background: #fff;
        opacity: 1;
    } 
    .swiper-pagination-bullet-active{        
        background: $yellow;
    }
}
.sandwich{
    margin-top: 7vw;
    overflow: hidden;
    .container-left{
        overflow: hidden;
        margin-left: calc(50% - 700px);
        margin-top: 4vw;
        box-sizing: border-box;        
        .sandwichswiper{
            display: block;
            padding-bottom: 3rem;
            .swiper-wrapper{
                align-items: center;
                .swiper-slide{
                    width: 25%;
                    transition: width 0.3s ease-in-out;
                    .sandtextwrap{
                        display: none;
                    }
                    &.swiper-slide-next{
                        margin-left: 10%;
                    }
                    &.swiper-slide-active{
                        .activewrap{
                        background-color: #ffcc36;
                        border-radius: 50px;                        
                        width: 120%;
                        padding: 4rem 0;
                        }
                        img{
                            transform: scale(1.5);
                            display: block;
                            margin: auto;
                        }
                        .sandtextwrap{
                            margin-top: 1rem;
                            display: flex;
                        }
                    }
                    img{
                        display: block;
                        margin: 0 auto;
                        width: 70%;
                    }
                } 
            }   
            .naviscroll{
                padding-top: 5rem;
                max-width: 1400px;
            }
            .swiper-scrollbar{
                width: 80%;
                background: #D9D9D9;
                .swiper-scrollbar-drag{
                    background: $green;
                }
            }
            .sandwrapnavi{
                width: 100px;
                position: absolute;
                bottom: 0;
                right: 0;
                div{
                    color: #666;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    border: 1px solid #666;
                    &.swiper-button-prev{
                        left: 0;
                    }
                    &.swiper-button-next{
                        right: 0;
                    }
                }                
                ::after{
                    font-size: 1rem;
                }
            }         
        }
    }
    
}
.salad{
    margin-top: 7vw;   
    .saladtxtwrap{
        background: url(../../public/img/salad/saladbg.jpg) no-repeat;
        width: 100%;
        background-size: 100%;
        height: 0;
        padding: 15%;
        .contentstitle{
            padding-bottom: 2rem;
        }   
        .foodtext{
            display: flex;
        }     
    }
    .saladswiper{
        transform: translateY(-8.5vw);
        .swiper-wrapper{
            .swiper-slide{
                img{
                    width: 80%;
                }
            }
        }
        .saladnavi{
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            .swiper-button-prev,
            .swiper-button-next{
                color: #333;
                display: block;
                width: auto;
            }
            .swiper-button-prev{
                left: 0;
            }
            .swiper-button-next{
                right: 0;
            }
        }        
    }    
}
.smilesub{
    .smilesubwrap{  
        margin-top: 4vw;      
        .smilesubmenu{
            a{
                background: #FFD24B;
                display: block;                
                margin: .5rem;                
                
                position: relative;
                max-height: 380px;
                overflow: hidden;
                transition: .3s;
                img{
                    position: absolute;
                    display: block;
                    bottom: -5rem;
                    width: 100%;
                }
                .subtextwrap{
                    position: relative;
                    transition: 0.3s;
                    z-index: 1;
                    opacity: 0;
                    padding: 8rem 0;
                    .foodnm{
                        padding-bottom: 0.5rem;
                    }
                    i{
                        padding-top: 3rem;
                        color: #fff;
                        font-size: 1.5rem;
                    }
                }
                &::after{
                    content:"";
                    position: absolute;
                    background: #000000a0;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    transition: 0.3s;
                }
                &:hover{
                    .subtextwrap{
                        opacity: 1;
                    }
                    &::after{
                        opacity: 1;
                    }
                }
            }
            &:nth-child(3) img{
                left: 2rem;
                bottom: -6rem;
            }
            &:nth-child(4) img{
                left: -2rem;
                bottom: -4rem;
            }
            &:nth-child(5) img{
                left: 3rem;
                bottom: -6rem;
            }
            &:nth-child(6) img{
                left: 3rem;
                bottom: -7rem;
            }
        }
    }
}
.withsub{
    margin-top: 15vw;
    position: relative;
    overflow: hidden;
    padding-bottom: 15vw;    
    .contentwrap{
        position: relative;
        margin-top: 4vw;
        .content{
            width: 30%;
            overflow: hidden;
            border-radius: 0 1rem 0 1rem;
            margin: .5rem;
            transition: .3s;
            
        }   
        &::after{
            content: "";
            position: absolute;
            background: url(../svg/withsub_1.svg) no-repeat;
            width: 4.5rem;
            height: 4.5rem;
            top: 85%;
            right: -3%;
            z-index: -1;
            animation: withsub_1 5s linear infinite;
        }   
        &::before{
            content: "";
            position: absolute;
            background: url(../svg/withsub_2.svg) no-repeat;
            width: 8rem;
            height: 8rem;
            top: 100%;
            left: -5%;
            z-index: -1;
            animation: withsub_2 5s linear infinite;
        }  
    }
    .subtextwrap{
        font-size: 3rem;
        font-weight: 600;
        color: #333;   
        margin-top: 3.5rem;     
        >span{
            >span{
                position: relative;
                padding: 0 2rem;
                color: #fff;
                text-align: center;
                &::before{
                    content: "";
                    position: absolute;
                    background: $green;
                    height: 100%;
                    width: 100%;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    border-radius: 50px;
                }
            }
        }
        & >span:last-child{
            >span{
                &::before{
                    background: $yellow;
                }                
            }           
        }        
    }
    &::before{
        content: "";
        position: absolute;
        top: 30%;        
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;        
        height: 100%;
        background-color: #F5F5F5;
        transform: scaleX(1.2);
        border-radius: 50% 50% 0 0;
        z-index: -1;
        
    }
}
@media (min-width:768px) {
    header{
        &.headeron{
            background-color: $green;
            a{color: #fff;}
            i{color: #fff;}
        }
        .m-menu-btn{
            display: none;            
        } 
        .m-li{display: none;}  
        .gnb{       
            &:hover{
                &::before{
                    height: 250px;   
                    background-color: $green;             
                }  
                .gnbli{  
                    &:hover{
                        >a{
                            color: $yellow;
                        }   
                    }     
                    .gnbul{       
                        max-height: 250px;  
                        padding: 1rem 0;
                        .gnbulli{
                            padding: 0.312rem 0; 
                            a{
                                &:hover{
                                    border-bottom:1px solid #fff;

                                }
                            }
                        }           
                    }               
                }      
            }                
        }               
    }
    .withsub{
        .contentwrap{
            .content{
                &.on{
                    width: 100%;
                }
            }        
        }
    }
}
@media (max-width:1440px){  
    .sandwich{
        .container-left{
            margin-left: 0; 
            .sandwichswiper{
                .swiper-wrapper{
                    .swiper-slide{
                        width: 33.33333%;                        
                    } 
                }
            }
        }        
    } 
    .smilesub{
        .smilesubwrap{      
            .smilesubmenu{
                a{
                    max-height: 30vw;
                }                    
            }
        }
    } 
    .withsub{
        .contentwrap{
            &::after{
                right: 0;
            }   
            &::before{
                left: 0;
            }  
        }
        &::before{
            top: 25%;        
            transform: scaleX(1.5);
        }
    }   
}
@media (max-width:1200px){
    header{ 
        h1{
            img{
                height: 1.8rem;
            }
        }         
        .gnb{  
            .gnbli{    
                padding: 1.25rem 1.2rem;              
                a{     
                    font-size: 1rem;               
                }          
                .gnbul{        
                    .gnbulli{
                        a{
                            font-size: 0.88rem; 
                        }
                    }           
                }               
            }                   
        }                
    }
    .mainbanner{
        .mainslide{
            .mainslidewrap{  
                &::before{
                    height: 8rem;
                }
                &.mainslidewrap1{     
                    .mainslidetxtwrap{                          
                        &::before{
                            height: calc(100% - 30vh);
                            bottom: -7rem;
                        }
                    }
                }
                &.mainslidewrap2{                
                    .mainslidetxtwrap{
                        &::before{
                            height: calc(100% - 35vh);
                        }
                    }
                    
                }
                &.mainslidewrap3{
                    .mainslidetxtwrap{
                        &::before{
                            height: calc(100% + 10vw);
                        }
                    }
                }
            }
        }
    }
    .salad{  
        .saladtxtwrap{
            background-size: 130%;
            padding: 20%;               
        }
    }
    .smilesub{
        .smilesubwrap{      
            .smilesubmenu{                 
                &:nth-child(3) img{
                    left: 2rem;
                    bottom: -5rem;
                }
                &:nth-child(5) img{
                    left: 3rem;
                    bottom: -5.5rem;
                }
                &:nth-child(6) img{
                    left: 3rem;
                    bottom: -6rem;
                }                  
            }            
        }
    }
    .withsub{
        .contentwrap{
            .content{
                img{
                    height: 30vw;
                }
                &.on{
                }
            }        
        }
        .subtextwrap{
            font-size: 2rem;
        }
    }
}
@media (max-width:990px){
    header{ 
        .headerdiv{
            justify-content: center;
            padding: 0.5rem 0;
        }  
        h1{
            width: auto;
        }
        .gnb{        
            .gnbli{    
                padding: 1.25rem 1rem;                           
            }                                 
        }
        .iconmenu{
            width: auto;
        }                
    }
    .sandwich{
        .container-left{     
            .sandwichswiper{
                .swiper-wrapper{
                    .swiper-slide{
                        &.swiper-slide-active{
                            .activewrap{
                                width: 130%;
                                padding: 3rem 0;
                            }
                            img{
                                transform: scale(1.3);
                            }
                        }
                        img{
                            width: 80%;
                        }
                    } 
                }
            }      
        }
    }  
    .salad{          
        .saladswiper{            
            .saladnavi{
                ::after{
                    font-size: 2rem;
                }
            }            
        }    
    }  
    .smilesub{
        .smilesubwrap{      
            .smilesubmenu{
                a{ 
                    img{
                        top: 0 !important;
                        bottom: 0 !important;
                        left: 0 !important;
                        right: 0 !important;
                        margin: auto !important;
                    }                     
                    
                }                                                           
            }            
        }
    } 
}
@media (max-width:767px){
    header{ 
        .headerdiv{
            justify-content: center;
            padding: 0.82rem 0;
        }   
        h1{
            width: auto;
            img{
                height: 1.5rem;
            }
        }
        .m-menu-btn{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            i{
                font-size: 2rem;
                color: #333;
            }
        } 
        .m-menu{
            display: none;
            position: absolute;
            top: 0;
            right: 0;  
            width: 100%;
            height: 100vh;            
            background-color: #fff;
            .m-li{
                &.m-top-menu{
                    background: $green;
                    .m-menu-header{
                        img{
                            height: 1.5rem;
                        }
                        .x-btn{
                            transform: translateX(-44px);
                            button{
                                color: #fff;
                                font-size: 2.5rem;                                                           
                            }
                        }                        
                    }
                    .m-menu-notice{
                        text-align: center;
                        padding: 0.8rem 0;
                        .m-menu-a{
                            padding: .5rem;
                            margin: auto;
                            background-color: #fff;
                            border-radius: 5px;                            
                            span{
                                i{color: $yellow;}
                                span{padding-left: .5rem;}
                            }
                        }
                    }
                }
                &.m-bottom-menu{
                    display: flex;
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                    .m-li-btn{                        
                        &.m-li-search{
                            background-color: $yellow;
                            button{
                                img{
                                    height: 2.5rem;
                                }
                            }
                        }
                        &.m-li-login{
                            background-color: $green;
                            button{
                                font-size: 2.5rem;
                                color: #fff;
                            }
                        }
                        button{
                            span{
                                font-size: 0.875rem;
                                font-weight: 300;
                            }
                            display: block;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }            
            .gnb{     
                background: #eee; 
                flex-direction: column;   
                height: 100%;
                width: 30%;
                position: relative;
                .gnbli{     
                    &.m-bg-white{
                        background: #fff;
                    }          
                    align-items: start;  
                    text-align: start; 
                    .gnbul{ 
                        &.m-gnbul{
                            display: none;
                        }    
                        display: block;      
                        top: 3rem;   
                        left: 120%;
                        width: 100%;
                        max-height: 500px;
                        .gnbulli{
                            padding:0 0 1rem;
                            a{
                                font-size: 1rem;
                                font-weight: 400;
                            }
                        }   

                    }               
                }               
            }
        }

        .iconmenu{
            display: none;
        }                
    }
    .mainbanner{
        .mainslide{
            .mainslidewrap{  
                align-items: flex-start;
                .mainslidetxtwrap{
                    margin-top: 5rem;
                    .mainbannertxt{
                        font-size: 6vw;    
                        text-align: center;
                    }
                    .mainbannertitle{
                        font-size: 10vw;
                        text-align: center;
                                
                    }
                }                
                &.mainslidewrap1{     
                    .mainslidetxtwrap{                          
                        &::before{
                            height: calc(100% - 40vw);
                            bottom: -30vw;
                            background-position: center;
                        }
                    }
                }
                &.mainslidewrap2{                
                    .mainslidetxtwrap{
                        &::before{
                            height: calc(100% - 65vw);
                            width: 100%;
                            background-position: center;
                        }
                        &::after{
                            height: calc(100% - 25vw);
                            background-position: center;
                        }
                    }
                    
                }
                &.mainslidewrap3{
                    .mainslidetxtwrap{
                        &::before{
                            background-position: center;
                            bottom: -60%;
                        }
                    }
                }
            }
        }
    }
    .sandwich{
        margin-top: 10vw;
        .container-left{     
            .sandwichswiper{
                .swiper-wrapper{
                    .swiper-slide{
                        width: 50%;
                        &.swiper-slide-next{
                            margin-left: 20%;
                        }
                        &.swiper-slide-active{
                            .activewrap{
                                padding: 3vw 0;
                            }
                            img{
                                transform: scale(1.3);
                            }
                        }
                    } 
                }   
                .naviscroll{margin: .5rem;}
                .swiper-scrollbar{
                    width: 100%;
                    left: 0;
                    right: 0;
                }                
                .sandwrapnavi{
                    display: none;
                }         
            }
        }        
    }
    .salad{ 
        .saladtxtwrap{
            background-size: 200%;
            padding: 30%;   
            .foodtext{
                display: none;
            }  
        }
        .saladswiper{
            transform: translateY(-13vw);
            
            .swiper-wrapper{
                .swiper-slide{
                    img{
                        width: 65%;
                    }
                }
            }
            
        }    
    }
    .smilesub{
        .smilesubwrap{      
            .smilesubmenu{
                a{
                    margin: 0.3rem;
                    max-height: 40vw;
                }                                                
            }            
        }
    }  
    .withsub{
        margin-top: 20vw;
        .contentwrap{
            flex-wrap: wrap;
            .content{
                width: 50%;
                flex: 0 0 auto;
                margin: 0;
                .content-margin{
                    overflow: hidden;  
                    border-radius: 0 .5rem 0 .5rem;
                    margin:.3rem;
                }
            }        
        }
        .subtextwrap{
            font-size: 1.7rem;
            >span{
                >span{
                    position: relative;
                    padding: 0 1rem;
                }
            }
        }
        &::before{
            top: 25%;        
            transform: scaleX(1.8);
        }
    }
}
@media (max-width:575px){
    header{ 
        .m-menu{            
            .gnb{     
                .gnbli{                     
                    padding: 1rem 0.5rem;              
                }                                  
            }
        }               
    }  
    .mainbanner{
        .mainslide{
            .mainslidewrap{  
                height: 120vw;
                border-radius: 30px 0 30px 30px;                
                &::before{
                    height: 20vw;
                }
                .mainslidetxtwrap{
                    .mainbannertxt{
                    }
                    .mainbannertitle{
                                
                    }
                }                
                &.mainslidewrap1{     
                    .mainslidetxtwrap{                          
                        &::before{
                        }
                    }
                }
                &.mainslidewrap2{                
                    .mainslidetxtwrap{
                        &::before{
                        }
                        &::after{
                        }
                    }
                    
                }
                &.mainslidewrap3{
                    .mainslidetxtwrap{
                        &::before{
                        }
                    }
                }
            }
        }
    }  
    .sandwich{
        .container-left{     
            .sandwichswiper{
                .swiper-wrapper{
                    .swiper-slide{
                        width: 60%;
                        &.swiper-slide-active{
                            .activewrap{
                                border-radius: 30px;
                            }
                        }
                    } 
                }   
            }
        }        
    }
    .salad{ 
        .saladtxtwrap{
            background-size: 300%;
            padding: 40%; 
        }
        .saladswiper{
            transform: translateY(-25vw);            
            .swiper-wrapper{
                .swiper-slide{
                    img{
                        width: 50%;
                    }
                }
            }
            
        }    
    }    
    .withsub{
        .contentwrap{
            &::after{
                width: 3rem;
                height: 3rem;
            }   
            &::before{
                width: 5rem;
                height: 5rem;                
            }  
        }
        .subtextwrap{
            font-size: 1.5rem;
        }        
    }  
}

@keyframes withsub_1{
    0% {
        top: 85%;
    }
    50%{
        top: 100%;
    }
    100% {
        top: 85%;
    }
}
@keyframes withsub_2{
    0% {
        top: 99%;
    }
    50%{
        top: 110%;
    }
    100% {
        top: 99%;
    }
}

// @media (max-width:1440px)
// @media (max-width:1200px)
// @media (max-width:1024px)
// @media (max-width:990px)
// @media (max-width:767px)
// @media (max-width:575px)
// @media (max-width:320px)